<div class="row">
	

	<div class="span6">
	    <table class="table table-striped">
	   		<tr>
	   			<td>开发环境：<td>
	   			<td>Ubuntu13.04、 sqlite3<td>	
	   		</tr>
	   		<tr>
	   			<td>开发工具：<td>
	   			<td>sublime2<td>	
	   		</tr>

	   		<tr>
	   			<td>开发语言：<td>
	   			<td>ruby1.9.3、 rails3.2.13、 bootstrap<td>	
	   		</tr>

	   		<tr>
	   			<td>源码索取：<td>
	   			<td><%=link_to '联系作者',contact_path%><td>	
	   		</tr>

	    </table>

	</div>

	<div div class="span4" align="center">
		<section>
		<img src="assets/rails.png">
	    </section>

	</div>

	

</div>