

<div class="row">
	
	<div class="span10">
		<strong>联系方式</strong>
	    <table class="table table-striped">
	   		<tr>	   			
	   			<td width="15%"><small>邮箱：</small></td>
	   			<td align="left"><small>zheng_jiajun@foxmail.com</small></td>
	   		</tr>
	   		<tr>
	   			<td><small>住址：</small></td>
	   			<td align="left"><small>浙江大学玉泉校区</small></td>	
	   		</tr>

	   		<tr>
	   			<td><small>家乡：</small></td>
	   			<td align="left"><small>浙江省象湖村</small></td>	
	   		</tr>
	    </table>
	</div>
</div>

<div class="row">
	<div class="span10">
		<strong>求学经历</strong>
	    <table class="table table-striped">
	   		<tr>	   			
	   			<td width="15%"><small>1996-2001</small></td>
	   			<td align="left"><small>象湖完小;01年考入五里初中，年级第一</small></td>
	   		</tr>
	   		<tr>
	   			<td><small>2001-2004：</small></td>
	   			<td align="left"><small>五里初中;04年考入衢州一中，中考成绩招贤镇第一</small></td>	
	   		</tr>
	   		<tr>
	   			<td><small>2004-2007：</small></td>
	   			<td align="left"><small>衢州一中;07年就读温州大学，机电工程学院。</small></td>	
	   		</tr>
	   		<tr>
	   			<td><small>2007-2011：</small></td>
	   			<td align="left"><small>温州大学;11年考入浙江大学,成为温州大学机电工程学院历史上第一个考入浙大的学生</small></td>	
	   		</tr>
	   		<tr class="success">
	   			<td><strong>2011-至今</strong></td>
	   			<td ><font color="red"><strong>浙江大学;研究方向:制造业信息化和知识管理</strong></font></td>	
	   		</tr>
	    </table>
	</div>

</div>

<div class="row">
	<div class="span10">
		<strong>兴趣爱好</strong>
	    <table class="table table-striped">
	   		<tr>	   			
	   			<td rowspan="3" width="15%"><strong>阅读：</strong></td>
	   			<td align="left"><small>武侠：金庸（最爱《笑傲江湖》）、古龙 、沧月、 时未寒、 凤歌 </small></td>
	   		</tr>

	   		<tr>
	   			<td align="left"><small>思维：《异类》、《引爆流行》 、《思考力决定竞争力》、《金字塔原理》 </small></td>
	   			
	   		</tr>
	   			<td align="left"><small>作者：金庸、 余华、 韩寒、 郎咸平、 大前研一 </small></td>
	   		<tr>

	   		</tr>

	   		<tr>	   			
	   			<td rowspan="2" width="10%"><strong>运动：</strong></td>
	   			<td align="left"><small>乒乓球： 擅长左手横排反手,常年混迹于学校乒乓球馆</small></td>
	   		</tr>
	   		<tr>
	   			<td align="left"><small>爬山：自从到了老和山职业技术学院，爱上爬山</small></td>
	   		</tr>


	   	
	    </table>
	</div>

</div>