<section>
	
<table class="table table-striped">
	
	<%@sevens.each do |seven|%>
	    <tr>

	    	<td><strong>·&nbsp;</strong><%=link_to seven.title,article_path(seven)%></td>
	    </tr>

	<%end%>

</table>
</section>